<div class="container">
  <h1 class="pageTitle"><%= @user.nickname %> / <%= @repo_name %> / Commits</h1>
  <%= link_to 'Back to Repos', user_repos_path(@user) %>
</div><!-- /container -->

<% @commits.each do |commit| %>
  <%= link_to user_repo_commit_path(@user,@repo,commit), title: "" do %>
    <div class="commit clearfix">
      <div class="commit-screenshot">
        <img class="scale" src="<%= commit.screenshot %>" alt="Commit screenshot">
      </div>
      <img class="avatar-20" src="<%= commit.committer_avatar_url %>" alt="Image of <%= commit.committer_name %>">
      <p><%= commit.committer_name %> - <%= time_ago_in_words(commit.committer_date) %> ago</p>
    </div>
  <% end %>
<% end %>
