<div class="container">
  <h1 class="pageTitle"><%= @user.nickname %>  >  <%= @repo_name %>  >  Commits</h1>
  <%= link_to 'Back to Repos', user_repos_path(@user) %>
</div><!-- /container -->

<% @commits.reverse.each do |commit| %>
<div class="commit clearfix">
  <% if commit.image %>
  <%= image_tag(commit.image) %>
  <% else %>
  <%= link_to 'Add image', edit_user_repo_commit_path(@user,@repo,commit) %>
  <% end %>
  <p>by <%= commit.committer_name %> <%= commit.committer_date %></p>
</div>
<% end %>
