<div class="container">
  <h1 class="pageTitle"><%= @user.nickname %> / <%= @repo_name %> / Commits</h1>
  <%= link_to 'Back to Repos', user_repos_path(@user) %>
</div><!-- /container -->

<% @commits.reverse.each do |commit| %>
<div class="commit clearfix">
  <div class="commitImage">
    <img src="<%= commit.image %>" alt="Commit Image">
  </div>
  <%= link_to 'Change image', edit_user_repo_commit_path(@user,@repo,commit) %>
  <p>by <%= commit.committer_name %> <%= commit.committer_date %></p>
</div>
<% end %>
